.image-container {
  position: relative;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.image-default {
  opacity: 1;
}

.image-hover {
  opacity: 0;
}

/* Hover effect only for screens wider than 768px */
@media (min-width: 768px) {
  .image-container:hover .image-default {
    opacity: 0;
  }
  
  .image-container:hover .image-hover {
    opacity: 1;
  }
}

/* Existing hover styling */
.productCard .textPart {
  transition: transform 0.2s ease-out;
}

.productCard:hover .textPart {
  transform: translateY(-1rem);
}

.productCard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.productCard {
  height: fit-content;
}
