/* styles.css */

/* Fade transition */
.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* Optional slide effect */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-in, transform 300ms ease-in; /* Duration and easing */
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px); /* Optional slide effect */
  transition: opacity 300ms ease-in, transform 300ms ease-in; /* Duration and easing */
}
